<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>123</title>
	<link rel="stylesheet/less" type="text/css" href="./main.less" />
	<script type="text/javascript" src="./less.min.js"></script>
</head>

<body>
	<header>
		<h1>Обьявления</h1>
	</header>

	<section class="main">
		<div class="adsWrappwr" item-selector=".ad" v-masonry transition-duration="0">
			<transition-group name="ad" tag="div">
				<div class="ad" v-for="(item, index) in ads" v-bind:key="index" v-masonry-tile>
					<h2 class="title" v-show="item.title">{{ item.title }}</h2>
					<div class="content" v-show="item.content">{{ item.content }}</div>
					<div class="buttonRed" @click="remove(index)">Удалить</div>
				</div>
			</transition-group>
			<div v-show="!ads.length" class="listEmpty">Список объявлений пуст</div>
		</div>
		<div class="addField">
			<input type="text" id="addTitle" placeholder="Название" v-model="newName">
			<textarea id="addContent" placeholder="Описание" v-model="newContent"></textarea>
			<div class="buttonBlue" @click="addAD" :class="{deactivated: !(newName.length || newContent.length)}">Добавить</div>
		</div>
	</section>

	<script type="text/javascript" src="./main.js"></script>
</body>

</html>
